@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 200;
    src: url('../font/NanumBarunGothicLight.ttf') format('truetype');
   }
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('../font/NanumBarunGothic.ttf') format('truetype')
   }
   
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 600;
    src: url('../font/NanumBarunGothicBold.ttf') format('truetype');
   }
